################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs
/Clase01/bin
/Clase01/obj
/Clase02/bin
/Clase02/obj
/Clase03/bin
/Clase03/obj
/rest-biblioteca/bin
/rest-biblioteca/obj
/rest-usuario/bin
/rest-usuario/obj
/logs