################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Clase01/Clase01/bin
/Clase01/Clase01/obj
.vs
/Clase01/Clase02/bin/Debug/net8.0
