################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs
/Clase01/bin
/Clase01/obj
/Clase02/bin
/Clase02/obj
/rest-catalogo/bin
/rest-catalogo/obj
/rest-categoria/bin
/rest-categoria/obj
/rest-biblioteca/bin
/rest-biblioteca/obj
/rest-usuario/bin
/rest-usuario/obj
/rest-gateway/bin
/rest-gateway/obj
/rest-reporte/bin
/rest-reporte/obj
/rest-pais/bin
/rest-pais/obj
/logs
/obj
/bin
